{% extends 'base.html.twig' %}

{% block body %}

    <script>
        var phones = {{ phones|json_encode()|raw }};
    </script>

    {% for phone in phones %}

        <span>{{ phone.phone }}</span>
        <span>...{{ phone.id }}</span>

    {% endfor %}

    <my-app></my-app>

{% endblock %}
