<!DOCTYPE html>
<html lang="en">
{{ include('base_parts/header.html.twig') }}
    <body>
    {{ include('base_parts/nav.html.twig') }}

   <div class="container-fluid">
       {% block body %}{% endblock %}
   </div>





    {{ include('base_parts/footer.html.twig') }}
    </body>
</html>
