<!DOCTYPE html>
<html lang="en">
{{ include('base_parts/header.html.twig') }}
    <body>
    {{ include('base_parts/nav.html.twig') }}
    {% block body %}{% endblock %}




    {{ include('base_parts/footer.html.twig') }}
    </body>
</html>
