<div class="container-fluid">
	<div class="row m-y-1">
		<div class="col-xs-3"><h3>Оформление заказа</h3></div>
		<div class="col-xs-5 p-x-0">

			<div class="row">
				<div class="col-xs-2 text-xs-right">
					<h3>Поиск:</h3>

				</div>
				<div class="col-xs-10">

					<ng-select
						[options]="data.getComplexList_phone()"
						(opened)="onSelectOpened()"
						(closed)="onSelectClosed()"
						(selected)="onSelected_phone($event)"
						(deselected)="onDeselected_phone($event)"
						[class]="mySelectSpecialClass"
						[allowClear]="true">
					</ng-select>


				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-3">
			<div *ngIf="client != undefined && client != true" class="lavanda p-a-1">
				<!--{{client|json}}-->
				<b>Информация о клиенте</b>
				<div class="m-b-1">ФИО:
					<span href="#">{{client.name}}</span>
				</div>

				<div> Телефоны:
					<ul class="p-l-2">
						<li *ngFor='let phone of client.phones'>{{phone}}</li>
					</ul>

				</div>
				<div> <span>Адреса:</span>
					<i (click)="add_new_adress_shows()" class="pull-xs-right mdi f24 pointer text-success mdi-plus-box"></i>
					<div class="clearfix"></div>
					<ul class="p-l-2">
						<li class="m-b-05" *ngFor='let adress of client.adreses'><span class=" text-primary pointer"
						 (click)="addAdress(adress)">
							<i class="mdi mdi-plus-box"></i> {{adress}}</span></li>
					</ul>
					<div class="clearfix"></div>
					<div class="row m-x-0 m-b-1" *ngIf="add_new_adress_show == true" >
						<div class="input-group">
							<input [(ngModel)]="new_adress" type="text" class="form-control" placeholder="Новый адресс">
							<span class="input-group-btn">
					        <button (click)="add_new_adress()" class="btn btn-success" type="button">Go!</button>
					      </span>
						</div>
					</div>

				</div>

				<div class="m-b-1">
					Описание:
					{{client.description}}
				</div>
				<div class="clearfix"></div>
				<button (click)="clear_info_client()" class="btn btn-danger">Сброс</button>
				<button (click)="addInfo()" class="btn btn-success pull-xs-right">Заполнить</button>
				<div class="clearfix"></div>
			</div>

			<hr>
			<h5>Новый Клиент</h5>			
			<input [(ngModel)]="new_client_name" class="form-control m-y-1" type="text" name="name" placeholder="ФИО">
			<input [(ngModel)]="new_client_phone" class="form-control m-y-1" type="text" name="phone" placeholder="Phone">
			<textarea [(ngModel)]="new_client_adress" class="form-control m-y-1" name="adress" placeholder="Адрес"></textarea>
			<textarea [(ngModel)]="new_client_description" name="description" class="form-control m-y-1" placeholder="Описание"></textarea>

			<button (click)="add_new_client()" class="btn btn-success pull-xs-right">Заполнить</button>
		</div>

		<div class="col-xs-5 wheat p-a-1">

			<textarea class="form-control m-b-1" placeholder="Заказ"></textarea>

			<div class="row">
				<div class="col-xs-6">
					<b>Производитель:</b>
					<ng-select
						[options]="data.getComplexList_producer_send()"
						(selected)="onSelected_producer_send($event)"
						[allowClear]="true">
					</ng-select>
				</div>
				<div class="col-xs-6">
					<b>Частный адресс:</b>
					<input [(ngModel)]="o_adress_from" type="text">
				</div>
			</div>
			<hr>


			<div class="clearfix m-b-1"></div>

			<div class="m-b-1">Адерес доставки: {{ o_adress }}</div>
			<div class="m-b-1">ФИО: {{ o_name }}</div>
			<div class="m-b-1">Звонили с номера: <b>{{selected_phone}}</b></div>
			<div class="m-b-1">Телефоны: {{ o_phones }}</div>
			<div class="m-b-1">Водитель: {{ o_ovoditel_name }}</div>
			<input (click)="sbros()" class="btn btn-danger pull-xs-left" type="submit" value="Сброс"/>
			<input class="btn btn-success pull-xs-right" type="submit" value="Создать"/>

		</div>

		<div class="col-xs-4">
			<h5>Курьеры (В работе : Выполнено | Время )</h5>

			<ul>
				<li class="m-b-05" *ngFor="let voditel of data.getComplexList_voditel_send()"><span
					(click)="addVoditel(voditel.name, voditel.id)" class="pointer text-primary"><i
					class="mdi mdi-plus-box"></i> {{voditel.name}}</span></li>
			</ul>
		</div>
	</div>
</div>


<ul>
	<li>
		<a href="#">Back to the list</a>
	</li>
</ul>