<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Добро пожаловать{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {#<link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />#}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
</head>